/preprocessing.pkl
/preprocessing-noEmo.pkl
/preprocessing-plain.pkl
/preprocessing-usernames.pkl
/preprocessing-glove.pkl
/preprocessing-sent-ID.pkl

/BOWsparse.pkl
/BOWsparse-usernames.pkl
/BOWsparse-noEmo.pkl
/BOWsparse-plain.pkl
/BOWsparse-glove.pkl

/TFIDFsparse.pkl
/TFIDFsparse-plain.pkl

/embeddings.pkl
/xy_train.pkl
/xy_dev.pkl.pkl
/xy_test1.pkl
/xy_tes2.pkl
/xy_test3.pkl

/*.pkl